<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<p>
    <%=t ".text_tag_p_1" %> <a href="https://www.railstutorial.org/"><em><%= t ".text_tag_a_1" %></em></a> <%= t ".text_tag_p_2" %>
    <a href="https://www.railstutorial.org/book"><%= t ".text_tag_a_2" %></a> <%= t ".text_tag_p_3" %>
    <a href="http://screencasts.railstutorial.org/"><%= t ".text_tag_a_3" %></a>
    <%= t ".text_tag_p_4" %>
    <a href="http://rubyonrails.org/"><%= t ".text_tag_a_4" %></a>.
    <%= t ".text_tag_p_5" %>
</p>

