<h1><%= t ".title" %></h1>
<p><%= t ".body_part_1" %></p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p><%= t ".body_part_2" %></p>
<p><%= t ".body_part_3" %></p>

