<footer class="footer">
  <small>
    <%= t ".text_tag_small_1" %> <a href="https://www.railstutorial.org/"><%= t ".text_ror_url" %></a>
    <%= t ".text_tag_small_2" %> <a href="http://www.michaelhartl.com/"><%= t ".author_name" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>

